@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lexend Deca', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-desa-dark-green: #34613A;
    --color-desa-soft-green: #8EBD55;
    --color-desa-secondary: #5A7A7E;
    --color-desa-background: #F2F9F6;
    --color-desa-foreshadow: #F1FAE6;
    --color-desa-black: #001B1A;
    --color-desa-lime: #DEFF6E;
    --color-desa-red: #FF5070;
    --color-desa-yellow: #FBAD4A;
    --color-desa-orange: #FA7139;
    --color-desa-blue: #005CAA;
    --color-desa-grey: #ACB9BB;
    --color-desa-white: #FFFFFF;
}

body {
    background: #F2F9F6;
    color: #001B1A;
    font-family: 'Lexend Deca', sans-serif;
}

.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.transition-setup {
    transition: all 0.3s ease;
}

.gradient-vertical {
    background: linear-gradient(209.83deg, #89b854 1.15%, #042f2b 100%);
}

.gradient-horizontal {
    background: linear-gradient(272.68deg, #89b854 0%, #042f2b 100%);
}
